version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root   # Replace with your root password
    ports:
      - "3306:3306"
    volumes:
      - ./mysql-data:/var/lib/mysql          # Persistent storage for MySQL data
    networks:
      - mysql_network


networks:
  mysql_network:
